/*
Structure:
*
	HotSpot
		SearchBox
			SearchInput
			SearchIcon

		HeaderEvent
		HeaderTimeLine
			HeaderDate
				Arrow
				InputDate
				InputTime
			TimeWindow
				Time
		HeaderOptions

		Title
		Timeline
			TimeArrow
		Options

		FooterEvent
		FooterSlider
		FooterOptions

*/
*
	{
		margin: 0;
		padding: 0;

		/*outline: 1px dashed #000;*/

	}

div
	{
	  box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	}

#HotSpot
	{
		width: 80%;/*1206px;*/
		height: /*80%;*/ 500px;
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		border: 1px solid black;
		overflow: hidden;
	}

	#SearchBox
	{
		width: 100%; /*1204px;*/
		height: /*12%;*/ 60px;
		text-align: center;
		line-height: 60px; /*Need to have JS to change this value*/
	}

#SearchInput
	{
		display: inline;
		width: 50%; /*600px;*/
		height: /*50%;*/ 25px;
	}

#SearchIcon
	{
		display: inline-block;
		width: 26px; /*Need to have JS to change this value*/
		height: 26px; /*Need to have JS to change this value*/
		background-size: 26px 26px; /*Need to have JS to change this value*/
		background-repeat: no-repeat;
		border: 0;
	}

#HeaderEvent
	{
		width: 16%; /*200px;*/
		height: /*12.8%;*/ 64px;
		float: left;
		clear: left;
		border: 1px solid black;
		text-align: center;
		line-height: 60px; /*Need to have JS to change this value*/
		position: relative;
	}

#HeaderTimeLine
	{
		width: 68%; /*800px;*/
		height: /*12.8%;*/ 64px;
		border: 1px solid black;
		float: left;
		text-align: center;
	}

#HeaderDate
	{
		width: 100%; /*800px;*/
		height: /*6.4%;*/ 32px;
		text-align: center;
		line-height: 32px; /*Need to have JS to change this value*/
	}

#Arrow
	{
		width: 20px; /*Need to have JS to change this value*/
		height: 20px; /*Need to have JS to change this value*/
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

#InputDate
	{
		min-width: 13em;
		width: 31.25%; /*250px;*/
		height: /*100%;*/ 20px;
		font-weight: bold;
		text-align: center;
	}

#InputTime
	{
		min-width: 5em;
		width: 12.5%; /*100px;*/
		height: 20px;
		font-weight: bold;
		text-align: center;
	}
/*
#AmPm
	{
		font-weight: bold;
		text-align: center;
		width: 50px;
		height: 20px;
	}
*/

#TimeWindow
	{
		width: 100%; /*800px;*/
		height: 32px;
		float: left;
		clear: left;
		overflow: hidden;
	}

#Time
	{
		width: 140%; /*1120px;*/
		height: 32px;
		text-align: center;
		line-height: 32px;
		position: relative;
		left: -20%; /*-160px;*/
	}

.TimeAxis
	{
		width: 14.2857142857%; /*160px;*/
		height: 32px;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		/*border: 1px solid black;*/
		/*background:url("../image/Grid.png");*/
	}

#HeaderOptions
	{
		width: 16%; /*200px;*/
		height: 64px;
		border: 1px solid black;
		text-align: center;
		line-height: 60px;
		float: left;
		position: relative;
	}

#Title
	{
		width: 16%; /*200px;*/
		height: 330px;
		float: left;
		clear: left;
		border: 1px solid black;
	}

.Top
	{
		width: 73%; /*146px;*/
		height: 50px;
		border: 1px solid black;
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
	}

#Timeline
	{
		width: 68%; /*800px;*/
		height: 330px;
		float: left;
		/*clear: left;*/
		border: 1px solid black;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

.TimeArrow
	{
		font-size: 60px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

.icon-back
	{
		float: left;
	}

.icon-next
	{
		float: right;
	}

#Options
	{
		width: 16%; /*200px;*/
		height: 330px;
		border: 1px solid black;
		float: left;
	}

#filterName
	{
		margin: 10px;
		text-align: center;
	}

#SearchButton
	{
		width: 50px;
		height: 20px;
	}

#FooterEvent
	{
		width: 16%; /*200px;*/
		height: 40px;
		float: left;
		clear: left;
		border: 1px solid black;
		text-align: center;
		line-height: 40px;
	}

#FooterSlider
	{
		width: 68%; /*800px;*/
		height: 40px;
		float: left;
		border: 1px solid black;
		text-align: center;
		line-height: 40px;
	}

#FooterOptions
	{
		width: 16%; /*200px;*/
		height: 40px;
		float: left;
		border: 1px solid black;
	}

.Text
	{
		 display: inline-block;
		 vertical-align: middle;
		 line-height: normal;
	 }

#SearchOption
	{
		padding: 10px;
	}

#SearchButton
	{
		float: right;
	}

.faded
	{
		opacity: 0.3;
		filter: alpha(opacity=30);
	}

.picker__list .picker__list-item--highlighted small
	{
		color: #fff;
	}

.picker__list small
	{
		color: #999;
		float: right;
		line-height: 1.5;
	}

small
	{
		font-size: 80%;
	}

/*====================*/
@media all and (min-width: 610px) and (max-width: 900px) {

#HeaderEvent
	{
		width: 7.188em;
	}

#HeaderOptions
	{
		width: 7.188em;
	}

#Title
	{
		width: 7.188em;
	}

#Options
	{
		width: 7.188em;
	}

#FooterEvent
	{
		width: 7.188em;
	}

#FooterOptions
	{
		width: 7.188em;
	}

#HeaderTimeLine
	{
		width: calc(100% - 14.375em);
	}

#Time
	{
		width: 233.33333333%;
		left: -66.66666666666%;
	}

.TimeAxis
	{
		width: 14.2857%;
	}

#Timeline
	{
		width: calc(100% - 14.375em);
	}

#FooterSlider
	{
		width: calc(100% - 14.375em);
	}