*
	{
		margin: 0;
		padding: 0;
		/*
		outline: 1px dashed #000;
		*/
	}

#HotSpot
	{
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		border: 1px solid black;
	}

#SearchBox
	{
		width: 1208px;
		height: 60px;
		text-align: center;
		line-height: 60px;
	}

#SearchInput
	{
		width: 600px;
		height: 25px;
	}

#SearchIcon
	{
		width: 26px;
		height: 26px;
		background-image: url('Search.png');
		background-size: 26px 26px;
		background-repeat: no-repeat;
		border: 0;
	}

#HeaderEvent
	{
		width: 200px;
		height: 64px;
		float: left;
		clear: left;
		border: 1px solid black;
		text-align: center;
		line-height: 60px;
	}

#HeaderTimeLine
	{
		width: 800px;
		height: 64px;
		border: 1px solid black;
		float: left;
		text-align: center;

	}

#HeaderDate
	{
		width: 800px;
		height: 32px;
		text-align: center;
		line-height: 32px;
	}

#Arrow
	{
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

#InputDate
	{
		width: 250px;
		height: 20px;
		font-weight: bold;
		text-align: center;
	}

#InputTime
	{
		width: 100px;
		height: 20px;
		font-weight: bold;
		text-align: center;
	}
/*
#AmPm
	{
		font-weight: bold;
		text-align: center;
		width: 50px;
		height: 20px;
	}
*/
#Time
	{
		width: 800px;
		height: 32px;
		float: left;
		clear: left;
		/*border: 1px solid black;*/s
		text-align: center;
		line-height: 32px;
	}

.TimeAxis
	{
		width: 20%;
		height: 32px;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		/*border: 1px solid black;*/
	}

#HeaderOptions
	{
		width: 200px;
		height: 64px;
		border: 1px solid black;
		text-align: center;
		line-height: 60px;
		float: left;
	}

#Title
	{
		width: 200px;
		height: 330px;
		float: left;
		clear: left;
		border: 1px solid black;
	}

.Top
	{
		width: 146px;
		height: 50px;
		border: 1px solid black;
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
	}

#Timeline
	{
		height: 330px;
		width: 800px;
		float: left;
		/*clear: left;*/
		border: 1px solid black;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

.TimeArrow
	{
		font-size: 60px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

.icon-back
	{
		float: left;
	}

.icon-next
	{
		float: right;
	}

#Options
	{
		width: 200px;
		height: 330px;
		border: 1px solid black;
		float: left;
	}

#filterName
	{
		margin: 10px;
		text-align: center;

	}

#SearchButton
	{
		width: 50px;
		height: 20px;
	}

#FooterEvent
	{
		height: 40px;
		width: 200px;
		float: left;
		clear: left;
		border: 1px solid black;
		text-align: center;
		line-height: 40px;
	}

#FooterSlider
	{
		width: 800px;
		height: 40px;
		float: left;
		border: 1px solid black;
		text-align: center;
		line-height: 40px;
	}

#FooterOptions
	{
		width: 200px;
		height: 40px;
		float: left;
		border: 1px solid black;
	}

.Text
	{
		 display: inline-block;
		 vertical-align: middle;
		 line-height: normal;
	 }

#SearchOption
	{
		padding: 10px;
	}

#SearchButton
	{
		float: right;
	}

.faded
	{
		opacity: 0.3;
		filter: alpha(opacity=30);
	}

