<!-- CHANGE TO BOOTSTRAP GRID -->
		<div id="HotSpot">
			<div class="form-inline">
				<div class="form-group">
					<form id="SearchBox" action="#">
						<input id="SearchInput" class="form-control" type="text" name="Search" placeholder="Search Venue or Events"/>
						<input id="search_button" class="btn btn-primary" type="submit" value="Search"/>
					</form>
				</div>
			</div>
			<div id="HeaderEvent"><span class="Text icon icon-crown"> TOP 5 HOT SPOTS</span></div>

			<div id="HeaderTimeLine">
				<div id="HeaderDate">
					<button id="Arrow" class="icon icon-backwards"></button>
					<input id="InputDate" class="Text" value=""/>
					<button id="Arrow" class="icon icon-forwards"></button>
					<input id="InputTime" class="Text" />
				</div>

				<div id="Time">
					<span id="Hour1" class="TimeAxis">1:00</span><span id="Hour2" class="TimeAxis">2:00</span><span id="Hour3" class="TimeAxis">3:00</span><span id="Hour4" class="TimeAxis">4:00</span><span id="Hour5" class="TimeAxis">5:00</span>
				</div><!--Time-->
			</div><!--HeaderTimeLine-->

			<div id="HeaderOptions"><span class="Text">LOGO</span></div>

			<div id="Title">
				<ol>
					<%	@venues[0..4].each do |venue| %>
						<li>Venue Name: <%= venue.name %><br>
						Popularity Rating: <%= venue.popularity_rating %></li>
						<br>
					<% end %>
				</ol>
			</div><!--Title-->



			<div id="Timeline">
				<div class="TimeArrow icon icon-back faded"></div>
				<div class="TimeArrow icon icon-next faded"></div>
			</div><!--Timeline-->

			<div id="Options">
				<form id="SearchOption" action="#">
					<div id=filterName><h4>Categories</h4></div>
					<input type="checkbox" name="option" value="option1"/>Option1 <br />
					<input type="checkbox" name="option" value="option2"/>Option2 <br />
					<input type="checkbox" name="option" value="option3"/>Option3 <br />
					<input type="checkbox" name="option" value="option4"/>Option4 <br />
					<input type="checkbox" name="option" value="option5"/>Option5 <br />
					<input type="checkbox" name="option" value="option6"/>Option6 <br />
					<input type="submit" value="Filter" id="SearchButton"/>
				</form>
			</div><!--Options-->

			<div id="FooterEvent"><span class="Text"><a href="#">View All Venues</a></span></div>
			<div id="FooterSlider"><span class="Text"> | | | | | </span></div>
			<div id="FooterOptions"></div>

		</div> <!--HotSpot-->




